.send-sms {
  .ant-modal-title {
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .select-all {
    // position:absolute;
    position: relative;
    // left: 20px;
    right: 30px;
    float: right;
    margin-left: -64px;
  }
}
